.header {
  max-width: 880px;
  max-height: 119px;
  min-height: 84px;
  padding: 45px 0 41px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  transition: all 0.5s linear;
}

@media (max-width: 650px) {
  .header {
    padding: 28px 0 0 27px;
    max-height: 84px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
}