.profile__description {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s linear;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 202.68px;
  min-width: 150px;
}

@media (max-width: 650px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 8px;
    max-width: 157.641px;
  }
}