.profile__edit-button {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  min-width: 24px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  background-image: url('../../../images/edit_button.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: all 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 650px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    background-size: 7.5px;
  }
}
