.profile__description {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  transition: all 0.5s linear;
}

@media (max-width: 650px) {
  .profile__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
    max-height: 14px;
  }
}