.profile__avatar {
  background-image: url('../../../images/avatar_image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 120px;
  min-height: 120px;
  border-radius: 120px;
}