.profile__info {
  display: flex;
  max-width: 336px;
  max-height: 79px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
  align-self: center;
  transition: all 0.5s linear;
}

@media (max-width: 650px) {
  .profile__info {
    padding-top: 26px;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
    padding-bottom: 36px;
  }
}