.popup_button-submit-disabled {
    opacity: 0.2;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 2px;
    box-sizing: border-box;
}

.popup_button-submit-disabled:hover {
    background-color: transparent;
}